@charset "ISO-8859-1";
*{
  margin : 0px;
  padding : 0px;
  box-sizing : border-box; 
}
  body{
    font-size : 35px;
    font-family : sans-serif;
   
    }
    h6,p,select{
    font-size : 25px;
    font-family : sans-serif;
    color:#cacaca;
    }
    select{
    user-select:none;
    }
   select option{
      font-size:20px
   

    
  }
  
  .container{
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  margin-top:30px;
 
 
  }
  .heading{
   font-size : 35px;
    font-family : sans-serif ;
    color:white;
    font-style:italic;
  }

  
/*.container{
	
	display:grid;
	grid-gap:1rem;
	grid-template-areas:
	navbar navbar navbar navbar
	 section section section  section 
	footer footer footer footer 
}
*/
navbar{
	grid-area:navbar;
}
aside{
	grid-area:aside;
}
.section{
	grid-area:section;
	  margin-left: auto;
	   background-color:white;
	
}
footer{
	
	background-color:#cacaca;
}
.nav-body{
	background-color:#cacaca;
	font-size : 20px;
}
.nav-l{
	text-decoration:none;
	color:white;
	margin:8px;
	
}
.nav-l:hover{
			border:1px solid white;
		border-radius:5px;
		background-color:white;
		color:#cacaca;
		padding:auto;
		margin:8px;
}
.book-btn{
	text-decoration:none;
	margin:auto;
	padding:2px 2px 2px 2px;
	width:100px;
	height:30px;
	color:#cacaca;;
}

.book-btn:hover{
		border:1px solid white;
		border-radius:5px;
		background-color:#cacaca;;
		color:white;
}
.card-body{
	
}
.card-custom{
	padding-top:30px;
	height:200px;
	border-radius:10px;
	background-color:white;
	
	}
	
.signup{
	margin-top:60px;
	margin-bottom:25px;
	border-radius:10px;
}

form{
	margin-top:100px;
	border-radius:10px;
	padding-bottom:25px;
}

/* Extra small devices (portrait phones, less than 576px)
 No media query since this is the default in Bootstrap

@media (max-width: 576px) { .body{background-color:#ff0000;} }
@media (min-width: 576px) { .body{background-color:blue;} }


@media (min-width: 768px) { .body{background-color:#80ffff;}}


@media (min-width: 992px) {  .body{background-color:#80ff80;} }


@media (min-width: 1200px) {  .body{background-color:#ff8000;} }
*/


